<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Planets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Planets</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <div class="dead-center" [hidden]="planets$ | async"><ion-spinner></ion-spinner></div>
    <ion-item *ngFor="let planet of planets$ | async">
      {{planet.name}}
    </ion-item>
  </ion-list>
</ion-content>
