<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Star Ships
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Star Ships</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list class="animate__animated animate__fadeIn">
    <div class="dead-center" [class.ion-hide]="ships$ | async"><ion-spinner></ion-spinner></div>
    <ion-item *ngFor="let ship of ships$ | async">
      {{ship.name}}
    </ion-item>
  </ion-list>
</ion-content>
